
  .navbar-brand{
    margin-left: 3px;
  }
  
/* FOR CART NUMBER */
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #20dbc2;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
  
  /* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}


/* Sidebar/left column */
.side {
  flex: 10%;
  background-color: #f1f1f1;

}

.card img{
  height: 300px;
}

.card a{
  text-decoration: none;
  color: black;
}


/* Sidebar */
.sidebar {
  margin-top: 40px;
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 54px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
}

@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
